Connected Services/CovidReference/CovidService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lab4WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lab4WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Instance">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstSymptomsDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TestDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Instance" nillable="true" type="tns:Instance" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ContactWith" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
</xs:schema>